<h1>Dostawcy</h1>

<mat-card>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns">
      <ng-container [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef>{{ columnLabels[column] }}</mat-header-cell>
        <mat-cell *matCellDef="let supplier">
          <span *ngIf="column !== 'actions' && supplier">{{ supplier[column] }}</span>
          <span *ngIf="column === 'actions' && supplier">
            <button mat-icon-button (click)="editSupplier(supplier)">
              <mat-icon>edit</mat-icon>
            </button>
          </span>
        </mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>

<button mat-raised-button color="primary" (click)="initNewSupplier()">Nowy dostawca</button>

<app-edit-supplier
  *ngIf="supplierToEdit"
  [supplier]="supplierToEdit"
  (supplierUpdated)="updateSupplier()">
</app-edit-supplier>
